<div class="card-group">

    <div class="card">
        <%= image_tag ("01deportes.jpg") %>
        <%= link_to ("newspaper_new") %>

        <div class="card-body">
            <h5 class="card-title">Deportes</h5>
            <p class="card-text">Revisa las últimas noticias positivas del deporte en Chile y el mundo.</p>
        </div>     
    </div>

    <div class="card">
        <%= image_tag ("02farandula.jpg") %>
        <%= link_to ("newspaper_new") %>

        <div class="card-body">
            <h5 class="card-title">Farándula</h5>
            <p class="card-text">Entérate de las copuchas de la farándula nacional e internacional.</p>
        </div>     
    </div>

    <div class="card">
        <%= image_tag ("03nacional.jpg") %>
        <%= link_to ("newspaper_new") %>

        <div class="card-body">
            <h5 class="card-title">Nacional</h5>
            <p class="card-text">Revisa las noticias nacionales.</p>
        </div>     
    </div>

    <div class="card">
        <%= image_tag ("04internacional.jpg") %>
        <%= link_to ("newspaper_new") %>

        <div class="card-body">
            <h5 class="card-title">Internacional</h5>
            <p class="card-text">Revisa las noticias internacionales.</p>
        </div>     
    </div>

    <div class="card">
        <%= image_tag ("05politica.jpg") %>
        <%= link_to ("newspaper_new") %>

        <div class="card-body">
            <h5 class="card-title">Nacional</h5>
            <p class="card-text">Revisa las noticias políticas.</p>
        </div>     
    </div>

</div>
