<div id="<%= dom_id newspaper %>">
  <p>
    <strong>Encabezado:</strong>
    <%= newspaper.encabezado %>
  </p>

  <p>
    <strong>Cuerpo:</strong>
    <%= newspaper.cuerpo %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= newspaper.link %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= newspaper.tipo %>
  </p>

</div>
